.am--multi-column-text {
  .am-column-wrap {
    margin-left: -$half-gutter;
    margin-right: -$half-gutter;
    display: flex;
    flex-direction: row;
    .am-column {
      padding-left: $half-gutter;
      padding-right: $half-gutter;
    }
  }
}
