.am {
  background-size: cover;
  background-position: center center;
  padding-top: 40px;
  padding-bottom: 40px;

  .am-column-wrap {
    margin-left: -$half-gutter;
    margin-right: -$half-gutter;
    display: flex;
    flex-direction: row;
    .am-column {
      padding-left: $half-gutter;
      padding-right: $half-gutter;
    }
  }

  &.am--padding-top-0 {
    padding-top: 0;
  }
  &.am--padding-bottom-0 {
    padding-bottom: 0;
  }
}

.crust {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.am-flex-item-wrap {
  .am--align-x-left & {
    text-align: left;
  }
  .am--align-x-middle & {
    text-align: center;
  }
  .am--align-x-right & {
    text-align: right;
  }

  .am--align-y-top & {
    align-items: flex-start;
  }
  .am--align-y-middle & {
    align-items: center;
  }
  .am--align-y-bottom & {
    align-items: flex-end;
  }
}

.am--content-lg {
  .crust {
    max-width: 1000px;
  }
}
.am--content-md {
  .crust {
    max-width: 678px;
  }
}
.am--content-sm {
  .crust {
    max-width: 480px;
  }
}

.am--bg-white {
  background-color: $brand-white;
}
.am--bg-primary {
  background-color: $brand-primary;
}
.am--bg-secondary {
  background-color: $brand-secondary;
}
.am--txt-white {
  color: $brand-white;
}
.am--txt-primary {
  color: $brand-primary;
}
.am--txt-secondary {
  color: $brand-secondary;
}
